@model List<MenuItem>
@{
    ViewData["Title"] = "Index";
}

<h1>Menu Items</h1>
<a asp-controller="Admin" asp-action="Create">Create New</a>
<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Active</th>
        <th scope="col">Date of Launch</th>
        <th scope="col">Name</th>
        <th scope="col">Free Delivery</th>
        <th scope="col">Action</th>
    </tr>
   @foreach(var item in Model)
            {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>
                            <input type="checkbox" checked="@item.Active" onclick="return false;"/>
                        </td>  
                        <td>@item.LaunchDate.ToShortDateString()</td>
                        <td>@item.category.Name</td>
                        <td>
                            <input type="checkbox" checked="@item.DeliveryStatus" onclick="return false;"/>
                        </td>
                        <td><a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                    </tr>
            }
</table>


